# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# After installed, let PyCharm fully index the SDK before running.

# python==3.7
tensorflow-gpu==2.3
